/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes likeButton {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes likeScale {
  from {
    scale: 1;
    transform-origin: center;
  }
  to {
    scale: 1.25;
    transform-origin: center;
  }
}

@keyframes likeSparks {
  from {
    opacity: 0;
    fill: none;
  }
  to {
    opacity: 1;
    fill: var(--animation-fill-color)
  }
}


.page {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--wght-main-text);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  inline-size: 100%;
  margin-block-end: 100px;
  margin-block-start: 100px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-family: var(--accent-font);
  font-weight: var(--wght-main-text);
  line-height: 100%;
  font-size: clamp(0.875rem, 0.4622rem + 2.0642vw, 1.4375rem);
  text-transform: uppercase;
  text-align: center;
  inline-size: clamp(320px, 100%, 700px);
  min-block-size: 368px;
  overflow-wrap: break-word;
  background-color: #fff;
  align-content: center;
}

.main-title p {
  margin-block-start: 20px;
}

.html-title {
  font-size: clamp(3.0625rem, 2.3286rem + 3.6697vw, 4.0625rem);
  margin-bottom: 20px;
}

.card {
  inline-size: clamp(320px, 100%, 700px);
  background-color: #fff;
  font-size: 18px;
  padding-block-end: 25px;
  margin: 0 auto;
  margin-block-end: 50px;
}

.card__title {
  font-weight: var(--wght-title-text);
  line-height: 100%;
  font-size: inherit;
  padding-left: 15px;
  padding-top: 10px; 
  min-height: 31px;
}

.card__image {
  inline-size: clamp(320px, 100%, 700px);
}

.image-container {
  position: relative;
}

.label {
  font-family: var(--accent-font);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  opacity: 50%;
  font-size: 14px;
  line-height: 100%;
  position: absolute;
  top: 25px;
  right: 25px;
}

@supports (text-stroke: 1px #fff) {
  .label {
    text-stroke: 1px #fff;
  }
}

.label-lowercase {
  text-transform: lowercase;
}

.invert-filter {
  filter: invert(100%) opacity(80%) brightness(80%);
}

.saturate-filter {
  filter: saturate(390%);
}

.grayscale-filter {
  filter: grayscale(80%);
}

.blur-filter {
  filter: blur(10px);
}

.mix-filter {
  filter: saturate(390%) sepia(0.6) contrast(150%) opacity(90%);
}

.hue-rotate-filter {
  filter: hue-rotate(0.5turn);
}

.contrast-filter {
  filter: contrast(250%);
}

.card__text {
  font-family: var(--main-font);
  font-weight: var(--wght-main-text);
  line-height: 21px;
  margin-block: 25px;
  margin-inline: 25px;
  padding: 0 4px;
  letter-spacing: 0.5px;
}

 .card__text p:last-child {
  margin-block-start: 27px;
}

.card__button-container {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
}

.card__icon-button {
  max-height: 38px;
  background: none;
  border: none;
}

.card__like-button {
  width: 130px;
  min-height: 38px;
  cursor: pointer;
}

.save-button-container {
  display: flex;
  justify-self: center;
  margin-block-end: 100px;
}

.button-save {
  min-inline-size: clamp(330px, 100%-34.5px, 335px);
  min-height: 55px;
  cursor: pointer;
  margin: 0 auto;
  padding: 15px 19px;
}

.button-style {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--wght-main-text);
  line-height: 90%;
  position: relative;
  overflow: hidden;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  
}

.dialog__button::after,
.button-save::after,
.card__like-button::after {
  content: '';
  position: absolute;
  background-color: #fff;
  block-size: 100%;
  inline-size: 0%;
  inset: 0 0;
}

.dialog__button:hover::after,
.button-save:hover::after,
.card__like-button:hover::after {
  inline-size: 100%;
  mix-blend-mode: difference;
  transition: inline-size 0.5s ease-in-out, difference 5s ease-in-out;
}

.card__like-button:hover .button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  transition: color 0.5s ease-in-out;
}

.button-style:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
  max-height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  outline: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: outline-color 0.3s ease;
  outline-offset: -1.5px;
}

.card__icon-button:focus-visible .like-icon {
  outline-color: #000;
}



.dialog__text {
  font-family: var(--accent-font);
  font-weight: var(--wght-main-text);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.saveMember {
  inline-size: 360px;
  min-block-size: 191px;
  padding: 30px;
  border: 2px solid #000;
}

.dialog__button {
  text-transform: uppercase;
  inline-size: 100%;
  block-size: 38px;
  grid-column: 1 / 3;
  align-self: flex-end;
}

.saveMember::backdrop {
  backdrop-filter: brightness(30%);
}

.saveMember[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 12px;
}

.main-body {
  opacity: 0;
  transition: opacity 0.3s 0.05s;
} 

.core {
  transition: fill 0.3s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--like-contour-color);
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--like-contour-color);
  opacity: 1;
} 

.like-icon:not(:hover) .main-body {
  transition-delay: fill 0.3s 0s;
  fill: none;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:not(:active) .core {
  transition-delay: 0.03s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  opacity: 1;
  transition: fill 0.3s 0.05s;
} 

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
  animation: likeScale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: likeSparks 0.3s ease-in 0.3s 1;
}

@media (width <= 375px) {
  .main-title {
    min-block-size: 327px;
  }
  .button-save svg {
    display: flex;
    margin: 0 auto;
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
  }
  .button-save {
    padding: 15px 20px;
  }
}